/* html thing. */
html{
    background-color: lightseagreen;
    min-width: 1000px;
    max-width: 1000px;
}
/* header and navigation /: and i hate the images):< */

body {
    background-color: rgb(74, 122, 255);
}
header{
    background-color: skyblue;
}
.Logo{ /*Epik logo*/
    border-radius: 30px;
    width: 100px;
    display: block;    
    margin: 0 auto;
    box-shadow: 5px 5px 15px 0px;
}
h1{
    text-align: center;
    background-color: lightblue;
}
nav{
    background-color: skyblue;
    padding: 10px;

}
.Nav{ /* epik navigation */
    background-color: dodgerblue;
    margin: 80px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid darkblue;
    text-decoration: none;
    color: black;
}
.Nav:hover{
    font-size: x-large;
    transition: 0.4s linear;
    box-shadow: 1px 1px 10px 1px blue;
}
.Logo:hover{
    opacity: 0.9;
    width: 75px;
    transition: 0.7s ease-in-out;
    background-color: black;
    box-shadow: 0px 0px 15px 5px red;
}
main{
    background-color: rgb(0, 149, 255);
}
.Nav:focus{
    opacity: 0.3;
    background-color: cornflowerblue;
    border: 5px solid darkblue;
}
.Sencored{
    background-color: black;
    color: black;
}
.Sencored:hover{
    color: white;
    transition: 0.2s linear;
}
h2{
    text-align: center;
    background-color: aqua;
    padding: 10px;
}
h3{
    text-align: center;
    background-color: rgb(16, 199, 255);
    padding: 10px;
}
.img1{
    width: 200px;
    text-align: center;
}
.Creator:hover{
    box-shadow: 5px 5px 5px 2px;
    transition: 0.4s ease-in-out;
}
.Text{
    background-color: rgba(255, 0, 0, 0.566);
    margin: 10px;
    padding: 3px;
    font-size: large;
}
.Text2{
       background-color: rgb(190, 231, 44);
    margin: 10px;
    padding: 3px;
    font-size: large;
}
.Text:hover{
    transition: 0.5s linear;
    box-shadow: 5px 5px 5px 5px rgb(146, 72, 72);
}
.Nav2{
    background-color: red;
    padding: 5px;
    border-radius: 20px;
    border: 3px solid rgb(170, 17, 17);
    text-decoration: none;
    color: black;
}
.Nav2:hover{
    font-size: x-large;
    transition: 0.4s linear;
    box-shadow: 1px 1px 10px 1px red;
}
